@media screen and (max-width: 600px) {
  @viewport {
    width: 720px;
    zoom: 2;
  }

  body {
    background-color: rgb(231, 231, 231);
  }
}


body {
  font-family: sans-serif;
  text-align: left;
}

h3 {
  font: 1em sans-serif;
}

img {
  border-radius: 8px;
  padding: 3px;
  width: 45px;
}

.codebox {
  border: 3px solid;
  text-align: center;
  margin: 1px;
  width: 20px;
  padding: 0;
}

.coderow {
  max-width: 420px;
}

#CnE2 {
  width: 600px;
  margin: auto;
  border: 3px solid rgb(0, 0, 0);
  padding: 10px;
  margin-top: 20px;
}

#mainbox {
  background-color: black;
  width: 576px;
  border-radius: 10px;
  border-color: whitesmoke;
  margin: 1em;
  padding: 15px;
  display: table;
  background-image: url("image/passbackground.png");
}

#passbox {
  width: 500px;
  display: inline-block;
}