@media screen and (max-width: 600px) {
  body {
    background-color: rgb(231, 231, 231);
  }
}

@media screen and (min-width: 601px) {
  body {
    background-color: rgb(231, 231, 231);
    display: flex;
    justify-content: center;
  }

  #selectbox {
    font: 1em;
  }
}

@font-face {
  font-family: rpg;
  src: url(./SuperLegendBoy-4w8Y.ttf);
}


body {
  font-family: rpg;
  text-align: left;
}

h3 {
  font: 2em;
}

img {
  border-radius: 8px;
  padding: 3px;
  width: 45px;
}

.coderow {
  max-width: 600px;
}

.coderow div {
  border: 3px solid;
  text-align: center;
  margin: 1px;
  padding: 0;
  font-size: 30px;
}

.boxrightspace {
  margin-right: 10px !important;
}

#rootbox {
  width: 720px;
  margin: 20px;
  padding: 10px;
}

#CnE2 {
  width: 650px;
  margin: 20px;
  border: 3px solid rgb(0, 0, 0);
  padding: 20px;
  border-radius: 15px;
}

#mainbox {
  background-color: black;
  width: 576px;
  border-radius: 10px;
  border-color: whitesmoke;
  margin: 1em;
  padding: 15px;
  display: table;
  background-image: url("image/passbackground.png");
}

#passbox {
  width: 500px;
  display: inline-block;
}